<a href="https://colab.research.google.com/github/navansh03/AI_Lab_Assignements/blob/main/Assignment_1_102215193.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment 1**

Q1) Write a python program to implement different arithmetic operation such as addition,subtraction,multiplication,division and exponent.

In [2]:
def add(x,y):
  return x+y
def sub(x,y):
  return x-y
def mul(x,y):
  return x*y
def div(x,y):
  return x/y
def exp(x,y):
  return x**y

print("Addition of two number is: ",add(5,2))
print("Subtraction of two number is: ",sub(5,2))
print("Multiplication of two number is: ",mul(5,2))
print("Floor Division of Two numbers is: ",div(5,2))

Addition of two number is:  7
Subtraction of two number is:  3
Multiplication of two number is:  10
Floor Division of Two numbers is:  2.5

Q2. Write a python program to implement the Boolean logic function( AND,OR,NOT etc)

In [3]:
#Implementation of the following program using variables
a=True and False  #AND boolean logic
b=True or False #OR boolean logic
c= not True #NOT boolean logic
print(a)
print(b)
print(c)

False
True
False

Q3. Write a python code to perform certain operation on the string such as print a string, concatenation of two string, Capitalize a string, convert a string to uppercase, accessing substring from a given string.

In [5]:
# Print a string
string1 = "Hello"
string2 = " World!"
string4 = "This is a string"
print(string1)
#COncatination of the strings
string3 = string1 + string2
print(string3)
# Capitalize a string only the first letter
print(string1.capitalize())
# Convert a string to uppercase
print(string1.upper())
# Accessing substring from a given string
substring = string4[8:15]
print(substring)

Hello
Hello World!
Hello
HELLO
a strin

Q4.  Write a python code to create a list with different data types, access elements of lists, slicing, append ,remove elements from the list and find length of the list.

In [8]:
#list
list=[1,2.68,"Navansh",True]
#accesing the list elements
print(list[0])
print(list[-1])
#slicing
list_2=list[1:3]
print(list_2)  #sliced list printed
list.append("Goswami")
print(list)

#remove a element from the list
list.remove(2.68)
print(list)

#length
print(len(list))

1
True
[2.68, 'Navansh']
[1, 2.68, 'Navansh', True, 'Goswami']
[1, 'Navansh', True, 'Goswami']
4

Q5. Write a python code to find sum of the array and the largest number in the the array.

In [9]:
array =[1,5,2,8,3]
#sum of all the elements of the array
sum_array=sum(array)
print(sum_array)
#max of the array
print(max(array))

19
8

Q6. Write a python code to add, subtract and multiply the matrices and then transpose each result matrix in single line.

In [10]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]

# Adding  matrices and transpose
add_result = [[A[i][j] + B[i][j] for j in range(len(A[0]))] for i in range(len(A))]
add_result = [[add_result[j][i] for j in range(len(add_result))] for i in range(len(add_result[0]))]

# Subtracting matrices and transpose
subtract_result = [[A[i][j] - B[i][j] for j in range(len(A[0]))] for i in range(len(A))]
subtract_result = [[subtract_result[j][i] for j in range(len(subtract_result))] for i in range(len(subtract_result[0]))]

# Multiplying maTrices and transpose (element-wise)
multiply_result = [[A[i][j] * B[i][j] for j in range(len(A[0]))] for i in range(len(A))]
multiply_result = [[multiply_result[j][i] for j in range(len(multiply_result))] for i in range(len(multiply_result[0]))]

print(add_result)
print(subtract_result)
print(multiply_result)

[[6, 10], [8, 12]]
[[-4, -4], [-4, -4]]
[[5, 21], [12, 32]]

Q7. Write a python code to create a dictionary with different data types, access elements of dictionary, add and remove elements from dictionary.

In [11]:
dict={"name":"Navansh","age":20,"city":"Gwalior","grades": [80, 90, 75]}
#accessing the elements of dict by using key
print(dict['name'])

#adding of the element
dict["Gender"]="Male"
print(dict)

#removing the element
del dict["age"]
print(dict)

Navansh
{'name': 'Navansh', 'age': 20, 'city': 'Gwalior', 'grades': [80, 90, 75], 'Gender': 'Male'}
{'name': 'Navansh', 'city': 'Gwalior', 'grades': [80, 90, 75], 'Gender': 'Male'}

Q8. Write a python code to print the prime numbers less than 20.

In [12]:
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True


for num in range(1,20):
  if is_prime(num):
    print(num)

2
3
5
7
11
13
17
19

Q9. Write a python code to find the factorial of a number using recursion.

In [13]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

#we will be calculating the factorial of 10
n=10
print(factorial(n))

3628800

Q10. Write a python code to create a tuple ,then find maximum and minimum k element in the tuple and find the size of the tuple.

In [15]:
from re import T
tuple=(10,90,60,40,70)

#we will sort the tuple first
sorted_tuple=sorted(tuple)
#we are taking k=2 for calculation of max and min
max_elements=sorted_tuple[-2:]
min_elements=sorted_tuple[:2]
print(max_elements)
print(min_elements)

#size of the tuple
print(len(tuple))

[70, 90]
[10, 40]
5