<a href="https://colab.research.google.com/github/navansh03/AI_Lab_Assignements/blob/main/Assignment_2_102215193.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ASSIGNMENT_2**

Q1) Given two lists—one containing keys and the other containing values.
Create a dictionary by pairing corresponding elements from both lists.

In [ ]:
l1=[1,2,3,4,5]
l2=["Ram","Laxman","Adi","Manav","Hde"]
dict={}
for i in range(len(l1)):
  dict[l1[i]]=l2[i]
print(dict)

{1: 'Ram', 2: 'Laxman', 3: 'Adi', 4: 'Manav', 5: 'Gopal'}

Q2) Write a program that compares two numbers and prints whether they
are equal, not equal, greater than, or less than each other.

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
if num1==num2:
  print(num1," = ",num2)
elif num1>num2:
  print(num1," > ",num2)
else:
  print(num1," < ",num2)

Enter first number:8
Enter second number:26
8  <  26

Q3) Create a list of length 10 of your choice containing multiple types of
data. Using for loop print the element and its data type.

In [ ]:
list = [10, "hello", 3.4, True, 88, [1, 2, 3], {"name": "Sarthak", "age": 20}, (10, 20), "IT", 2024]
for element in list:
  print(element , type(element))

10 <class 'int'>
hello <class 'str'>
3.4 <class 'float'>
True <class 'bool'>
88 <class 'int'>
[1, 2, 3] <class 'list'>
{'name': 'Sarthak', 'age': 20} <class 'dict'>
(10, 20) <class 'tuple'>
IT <class 'str'>
2024 <class 'int'>

Q4) Using a while loop, verify if the number A is purely divisible by number
B and if so then how many times it can be divisible.

In [ ]:
A=int(input("Enter number A:"))
B=int(input("Enter number B:"))
if A%B==0:
  print(A,"is divisible by",B)
  print(B,"divides",A,": ", A/B,"times")
else:
  print(A,"is not divisible by",B)

Enter number A:8
Enter number B:4
8 is divisible by 4
4 divides 8 :  2.0 times

Q5) Create a list containing 25 integer type data. Using for loop and if-else
condition print if the element is divisible by 3 or not.

In [ ]:
list=[]
for i in range(1,2644):
  num=int(input("Enter number:"))
  list.append(num)
for i in list:
  if i%3==0:
    print(i,"is divisible by 3")
  else:
    print(i,"is not divisible by 3")

Enter number:26
Enter number:37
Enter number:36
Enter number:27
Enter number:3
Enter number:99
Enter number:25
Enter number:28
Enter number:10
Enter number:92
Enter number:63
Enter number:30
Enter number:20
Enter number:11
Enter number:94
Enter number:1620
Enter number:0
Enter number:3
Enter number:84
Enter number:76
Enter number:69
Enter number:39
Enter number:55
Enter number:54
Enter number:33
26 is not divisible by 3
37 is not divisible by 3
36 is divisible by 3
27 is divisible by 3
3 is divisible by 3
99 is divisible by 3
25 is not divisible by 3
28 is not divisible by 3
10 is not divisible by 3
92 is not divisible by 3
63 is divisible by 3
30 is divisible by 3
20 is not divisible by 3
11 is not divisible by 3
94 is not divisible by 3
1620 is divisible by 3
0 is divisible by 3
3 is divisible by 3
84 is divisible by 3
76 is not divisible by 3
69 is divisible by 3
39 is divisible by 3
55 is not divisible by 3
54 is divisible by 3
33 is divisible by 3

Q6) Given a list my list = [1, 2, 3, 4, 5], write the code to slice the list and
obtain the sub-list [2, 3].

In [ ]:
list1=[1,2,3,4,5]
sliced_list = list1[1:3]
print("The Sliced list is as follows: " , sliced_list)

The Sliced list is as follows:  [2, 3]

Q7) Given the string "Hello, World!", extract the sub-string "World".

In [ ]:
stri="Hello, World!"
subStr=stri[7:12]
print("The Sub-string is",subStr)

The Sub-string is as follows:  World

Q8) Calculate the multiplication and sum of two numbers: Given two integer
numbers, return their product only if the product is equal to or lower
than 1000. Otherwise, return their sum.

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
if a*b<=1000:
  print(a*b)
else:
  print(a+b)

Enter first number:10
Enter second number:98
980

Q9) Write a program to iterate through the first 10 numbers, and in each
Print characters from a string that are present at an even index number.
Accept a string from the user and display characters that are present at
an even index number.

In [ ]:
def evenChar(string):
  for i in range(0, len(string), 2):
    print(string[i])
string = input("Enter a string: ")
evenChar(string)

Enter a string: Sarthak
S
r
h
k

Q10) Write a program to iterate through the list and find the even number &
its count.

In [ ]:
list1=[0,1,2,3,4,5,6,7,8,9,10]
count =0
for i in list1:
  if i%2==0:
    print(i)
    count=count+1
print("The count of even numbers is: " , count)

0
2
4
6
8
10
The count of even numbers is:  6

Q11) Write a program to find the minimum value of a list of numbers 5,3,8,-1,-
2.2,0 (Don’t use built in function).

In [ ]:
list=[5,3,8,-1,-2.2,0]
minEle=list[0]
for i in list:
  if i < minEle:
    minEle=i
print("The minimum value from the list of given numbers is: " , minEle)

The minimum value from the list of given numbers is:  -2.2

Q12) Write a programme to iterate over a list of strings and check whether a
particular word is in or not?

In [ ]:
list=["RAM","Processor","ROM","Buses","Routers","GPU"]
word=str(input("Enter the word to be checked:"))
for i in list:
  if i.lower() == word:
    print(word,"is present in the list")
    break
else:
  print(word,"is not present in the list")

Enter the word to be checked:gpu
gpu is present in the list

Q13) Write a programme that uses a while loop to test whether user input a
password "Secret" other wise print " Your password is incorrect".

In [ ]:
while True :
  password=str(input("Enter the password:"))
  if password == "Secret":
    print("Your Password is correct")
    break
  else:
    print("Your Password is incorrect")

Enter the password:admin1234
Your Password is incorrect
Enter the password:user12
Your Password is incorrect
Enter the password:Secret
Your Password is correct

Q14) Write a program to show
(a) Exit a loop using break
(b) Exit a loop using Continue

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in num:
    if i == 5:
        print("Found the number 5!")
        break
    print(i)

1
2
3
4
Found the number 5!

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in num:
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

Q15) Write a programme that asks the user for number (int) . It computes
the average of a number & allows the user to enter -1 to quit.

In [ ]:
total = 0
count = 0

while True:
    num = int(input("Enter a number (or -1 to quit): "))
    if num == -1:
      break
    total += num
    count += 1

if count > 0:
    average = total / count
    print("The average of the numbers is:", average)
else:
    print("No numbers were entered.")

Enter a number (or -1 to quit): 2
Enter a number (or -1 to quit): 10
Enter a number (or -1 to quit): 23
Enter a number (or -1 to quit): -1
The average of the numbers is: 11.666666666666666

Q16) Write a programme with function get_factor that takes an integer as a
parameter and return a list of factors of that number.

In [ ]:
def get_factors(number):
    factors = []
    for i in range(1, number + 1):
        if number % i == 0:
            factors.append(i)
    return factors
num = int(input("Enter a number: "))
factors = get_factors(num)
print("Factors of", num, "are:", factors)

Enter a number: 36
Factors of 36 are: [1, 2, 3, 4, 6, 9, 12, 18, 36]

Q17) Write a program with a function unique_list that takes a list of numbers
as a parameter and return a new list with the unique list.

In [ ]:
def unique_list(num):
  unique_elements = []
  for i in num:
    if i not in unique_elements:
      unique_elements.append(i)
  return unique_elements

nlist= [1,2,3,3,2,4,1,5]
unique_nums = unique_list(nlist)
print("Unique elements:", unique_nums)

Unique elements: [1, 2, 3, 4, 5]

Q18) Write a programme to create a dictionary of three students with their
details like name,grades & attendance of 5 subjects in list. Then create
another dictionary which is having roll no as keys and name of the
students as values. Write another programme to get average of all the
marks.

In [ ]:
students = {
    "student1": {
        "name": "Ram",
        "grades": [85, 92, 78, 90, 88],
        "attendance": [18, 20, 19, 17, 20]
    },
    "student2": {
        "name": "Laxman",
        "grades": [75, 80, 85, 90, 95],
        "attendance": [19, 18, 20, 20, 19]
    },
    "student3": {
        "name": "Lucky",
        "grades": [88, 84, 91, 87, 92],
        "attendance": [20, 19, 18, 17, 20]
    }
}

roll_numbers = {
    1: "Ram" ,
    2: "Laxman" ,
    3: "Lucky"
}

for skey , sinfo in students.items():
    avg = sum(sinfo["grades"]) / len(sinfo["grades"])
    print(f"{sinfo['name']} has an average grade of {avg}")

Ram has an average grade of 86.6
Laxman has an average grade of 85.0
Lucky has an average grade of 88.4